/* fakecss:src/components/Float.esbuild-svelte-fake-css */
.root.svelte-oer3sb {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}
.container.svelte-oer3sb {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 80%;
  width: auto;
  max-height: 100vh;
  height: 100vh;
  background-color: var(--theme-bg-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 50px 120px rgba(0, 0, 0, 0.4);
}
.header.svelte-oer3sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 12px;
  padding: 0 32px 0 40px;
  height: 72px;
}
.title.svelte-oer3sb {
  flex-grow: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--theme-caption-color);
  user-select: none;
}
.close.svelte-oer3sb {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.close.svelte-oer3sb:hover {
  opacity: 1;
}
.content.svelte-oer3sb {
  flex-shrink: 0;
  margin: 24px 20px 0;
  padding: 0 20px;
  height: calc(100vh - 204px);
}

/* fakecss:src/components/EventEditor.esbuild-svelte-fake-css */
.root.svelte-19w1zzs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/EventViewer.esbuild-svelte-fake-css */
.root.svelte-73vfpy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label.svelte-73vfpy {
  font-weight: 500;
  flex-grow: 0;
  margin-right: 15px;
}
.label.svelte-73vfpy::after {
  content: ":";
}
.row.svelte-73vfpy {
  display: flex;
  align-items: flex-start;
}
.participants.svelte-73vfpy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/Workspace.esbuild-svelte-fake-css */
.root.svelte-9w5x31 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.content.svelte-9w5x31 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-9w5x31 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  width: 100%;
}
.opt.svelte-9w5x31 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
.opt.selected.svelte-9w5x31 {
  background-color: var(--theme-button-bg-enabled);
  cursor: default;
}

/* fakecss:src/components/CreateCalendar.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

