/* fakecss:src/components/Workspace.esbuild-svelte-fake-css */
.root.svelte-14p8f9h {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.content.svelte-14p8f9h {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-14p8f9h {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  width: 100%;
}

/* fakecss:src/components/CreateCalendar.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/EventEditor.esbuild-svelte-fake-css */
.root.svelte-19w1zzs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/EventViewer.esbuild-svelte-fake-css */
.root.svelte-73vfpy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.label.svelte-73vfpy {
  font-weight: 500;
  flex-grow: 0;
  margin-right: 15px;
}
.label.svelte-73vfpy::after {
  content: ":";
}
.row.svelte-73vfpy {
  display: flex;
  align-items: flex-start;
}
.participants.svelte-73vfpy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/EditEvent.esbuild-svelte-fake-css */
.header.svelte-2gda8s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.title.svelte-2gda8s {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--theme-caption-color);
  user-select: none;
}
.close.svelte-2gda8s {
  margin-left: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.close.svelte-2gda8s:hover {
  opacity: 1;
}

