/* fakecss:src/components/ReferenceInput.esbuild-svelte-fake-css */
.ref-container.svelte-1rsma5b.svelte-1rsma5b.svelte-1rsma5b {
  display: flex;
  flex-direction: column;
  min-height: 74px;
}
.ref-container.svelte-1rsma5b .textInput.svelte-1rsma5b.svelte-1rsma5b {
  position: relative;
  min-height: 44px;
  padding: 12px 16px;
  background-color: var(--theme-bg-accent-color);
  border: 1px solid var(--theme-bg-accent-hover);
  border-radius: 12px;
}
.ref-container.svelte-1rsma5b .textInput.svelte-1rsma5b.svelte-1rsma5b:focus-within {
  background-color: var(--theme-bg-focused-color);
  border-color: var(--theme-bg-focused-border);
}
.ref-container.svelte-1rsma5b .textInput .inputMsg.svelte-1rsma5b.svelte-1rsma5b {
  width: 100%;
  max-width: calc(100% - 32px);
  height: 100%;
  color: var(--theme-content-color);
  background-color: transparent;
  border: none;
  outline: none;
}
.ref-container.svelte-1rsma5b .textInput .inputMsg .edit-box-horizontal.svelte-1rsma5b.svelte-1rsma5b {
  width: 100%;
  height: 100%;
  margin-top: 7px;
  align-self: center;
}
.ref-container.svelte-1rsma5b .textInput .inputMsg .edit-box-vertical.svelte-1rsma5b.svelte-1rsma5b {
  width: 100%;
  height: 100%;
  margin: 4px;
}
.ref-container.svelte-1rsma5b .textInput .inputMsg .label.svelte-1rsma5b.svelte-1rsma5b {
  position: absolute;
  top: 14px;
  font-size: 14px;
  line-height: 14px;
  color: var(--theme-caption-color);
  pointer-events: none;
  opacity: 0.3;
  transition: all 200ms;
  user-select: none;
}
.ref-container.svelte-1rsma5b .textInput .sendButton.svelte-1rsma5b.svelte-1rsma5b {
  flex-shrink: 0;
  margin-left: 8px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
}
.ref-container.svelte-1rsma5b .textInput .sendButton .icon.svelte-1rsma5b.svelte-1rsma5b {
  opacity: 0.3;
}
.ref-container.svelte-1rsma5b .textInput .sendButton:hover .icon.svelte-1rsma5b.svelte-1rsma5b {
  opacity: 1;
}
.ref-container.svelte-1rsma5b .textInput .sendButton.svelte-1rsma5b.svelte-1rsma5b:focus {
  border: 1px solid var(--primary-button-focused-border);
  box-shadow: 0 0 0 3px var(--primary-button-outline);
}
.ref-container.svelte-1rsma5b .textInput .sendButton:focus .icon.svelte-1rsma5b.svelte-1rsma5b {
  opacity: 1;
}
.ref-container.svelte-1rsma5b .buttons.svelte-1rsma5b.svelte-1rsma5b {
  margin: 10px 0 0 8px;
  display: flex;
}
.ref-container.svelte-1rsma5b .buttons .tool.svelte-1rsma5b.svelte-1rsma5b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer;
}
.ref-container.svelte-1rsma5b .buttons .tool.svelte-1rsma5b.svelte-1rsma5b:hover {
  opacity: 1;
}
.ref-container.svelte-1rsma5b .buttons .tool.svelte-1rsma5b + .tool.svelte-1rsma5b {
  margin-left: 16px;
}

/* fakecss:src/components/Reactions.esbuild-svelte-fake-css */
.reactions-container.svelte-1u6udu3.svelte-1u6udu3.svelte-1u6udu3 {
  display: flex;
  user-select: none;
}
.reactions-container.svelte-1u6udu3 .reaction.svelte-1u6udu3.svelte-1u6udu3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.reactions-container.svelte-1u6udu3 .reaction .icon.svelte-1u6udu3.svelte-1u6udu3 {
  width: 20px;
  height: 20px;
}
.reactions-container.svelte-1u6udu3 .reaction .counter.svelte-1u6udu3.svelte-1u6udu3 {
  margin-left: 4px;
  color: var(--theme-caption-color);
}
.reactions-container.svelte-1u6udu3 .reaction.svelte-1u6udu3 + .reaction.svelte-1u6udu3 {
  margin-left: 16px;
}

/* fakecss:src/components/Replies.esbuild-svelte-fake-css */
.replies-container.svelte-90yv08.svelte-90yv08 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  user-select: none;
}
.replies-container.svelte-90yv08 .counter.svelte-90yv08 {
  margin-right: 12px;
  line-height: 150%;
  color: var(--theme-content-color);
  white-space: nowrap;
}
.replies-container.svelte-90yv08 .replies.svelte-90yv08 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.replies-container.svelte-90yv08 .replies .reply.svelte-90yv08 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--theme-bg-color);
  border-radius: 50%;
  margin-right: -10px;
}
.replies-container.svelte-90yv08 .replies .reply .circle.svelte-90yv08 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.replies-container.svelte-90yv08 .replies .reply span.svelte-90yv08 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.5;
  color: var(--theme-caption-color);
  background-color: var(--theme-bg-selection);
  border-radius: 50%;
}
.replies-container.svelte-90yv08 .replies .reply.svelte-90yv08:last-child {
  margin-right: 0;
}

/* fakecss:src/components/Message.esbuild-svelte-fake-css */
.container.svelte-vtgnd1.svelte-vtgnd1.svelte-vtgnd1 {
  flex-shrink: 0;
  position: relative;
  display: flex;
  padding-bottom: 20px;
}
.container.isNew.svelte-vtgnd1.svelte-vtgnd1.svelte-vtgnd1 {
  background-color: var(--theme-bg-accent-color);
}
.container.svelte-vtgnd1 .avatar.svelte-vtgnd1.svelte-vtgnd1 {
  min-width: 36px;
  width: 36px;
  height: 36px;
  background-color: var(--theme-bg-accent-color);
  border-radius: 50%;
  user-select: none;
  overflow: hidden;
}
.container.svelte-vtgnd1 .avatar img.svelte-vtgnd1.svelte-vtgnd1 {
  max-width: 100%;
  max-height: 100%;
}
.container.svelte-vtgnd1 .message.svelte-vtgnd1.svelte-vtgnd1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 16px;
}
.container.svelte-vtgnd1 .message .header.svelte-vtgnd1.svelte-vtgnd1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--theme-caption-color);
  margin-bottom: 4px;
}
.container.svelte-vtgnd1 .message .header span.svelte-vtgnd1.svelte-vtgnd1 {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;
}
.container.svelte-vtgnd1 .message .text.svelte-vtgnd1.svelte-vtgnd1 {
  line-height: 150%;
}
.container.svelte-vtgnd1 .message .footer.svelte-vtgnd1.svelte-vtgnd1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-top: 8px;
  user-select: none;
}
.container.svelte-vtgnd1 .message .footer div.svelte-vtgnd1 + div.svelte-vtgnd1 {
  margin-left: 16px;
}
.no-thread.svelte-vtgnd1.svelte-vtgnd1.svelte-vtgnd1 {
  padding: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 12px;
}
.no-thread.svelte-vtgnd1 .buttons.svelte-vtgnd1.svelte-vtgnd1 {
  position: absolute;
  visibility: hidden;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: row-reverse;
  user-select: none;
}
.no-thread.svelte-vtgnd1 .buttons .tool.svelte-vtgnd1.svelte-vtgnd1 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.no-thread.svelte-vtgnd1 .buttons .tool.svelte-vtgnd1 + .tool.svelte-vtgnd1 {
  margin-right: 8px;
}
.no-thread.svelte-vtgnd1:hover > .buttons.svelte-vtgnd1.svelte-vtgnd1 {
  visibility: visible;
}
.no-thread.svelte-vtgnd1.svelte-vtgnd1.svelte-vtgnd1:hover {
  background-color: var(--theme-button-bg-enabled);
  border-color: var(--theme-bg-accent-color);
}

/* fakecss:src/components/CreateDirectMessage.esbuild-svelte-fake-css */
.new-message.svelte-67ub6e.svelte-67ub6e {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.new-message.svelte-67ub6e .address.svelte-67ub6e {
  padding: 20px;
  flex-grow: 0;
}
.new-message.svelte-67ub6e .message-input.svelte-67ub6e {
  flex-grow: 0;
}
.new-message.svelte-67ub6e .msg-board.svelte-67ub6e {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px 15px 0px;
  padding: 25px 25px 0px;
  overflow: auto;
}

/* fakecss:src/components/ChannelView.esbuild-svelte-fake-css */
.msg-board.svelte-1bxjqog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px 10px 0px;
  padding: 10px 10px 0px;
  overflow: auto;
}
.ref-input.svelte-1bxjqog {
  margin: 20px 40px;
}

/* fakecss:src/components/ChannelSeparator.esbuild-svelte-fake-css */
.container.svelte-1csmb5q.svelte-1csmb5q {
  width: 100%;
  height: 28px;
  margin-bottom: 32px;
}
.container.svelte-1csmb5q .label.svelte-1csmb5q {
  position: relative;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5;
  text-transform: uppercase;
  color: var(--theme-content-trans-color);
  z-index: 1;
}
.container.svelte-1csmb5q .label.svelte-1csmb5q::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--theme-chat-divider);
  z-index: -1;
}
.container.line.svelte-1csmb5q.svelte-1csmb5q {
  position: relative;
  width: 100%;
}
.container.line.svelte-1csmb5q.svelte-1csmb5q::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--theme-chat-divider);
}

/* fakecss:src/components/Comments.esbuild-svelte-fake-css */
.channel-container.svelte-189e0ks {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* fakecss:src/components/ThreadsView.esbuild-svelte-fake-css */
.header.svelte-udg0nr.svelte-udg0nr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header.svelte-udg0nr .title.svelte-udg0nr {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--theme-caption-color);
  user-select: none;
}
.header.svelte-udg0nr .tool.svelte-udg0nr {
  margin-left: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.header.svelte-udg0nr .tool.svelte-udg0nr:hover {
  opacity: 1;
}
.content.svelte-udg0nr.svelte-udg0nr {
  height: calc(100vh - 231px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px 10px 0px;
  padding: 10px 10px 0px;
  overflow: auto;
}
.ref-input.svelte-udg0nr.svelte-udg0nr {
  margin: 20px 0 0;
}

/* fakecss:src/components/UserSpaceInfo.esbuild-svelte-fake-css */
.user-container.svelte-o79fsc.svelte-o79fsc {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.user-container.svelte-o79fsc .img.svelte-o79fsc {
  border-radius: 50%;
  overflow: hidden;
}
.user-container.svelte-o79fsc .caption.svelte-o79fsc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 8px;
  color: var(--theme-caption-color);
}
.user-container.svelte-o79fsc .caption .title.svelte-o79fsc {
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-container.svelte-o79fsc .caption .title .header.svelte-o79fsc {
  font-weight: 700;
}
.user-container.svelte-o79fsc .caption .title .item.svelte-o79fsc {
  font-weight: 500;
}

/* fakecss:src/components/SpaceItem.esbuild-svelte-fake-css */
.icon.svelte-1bybztv {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin: 0 16px 0 0;
  border-radius: 4px;
  opacity: 0.3;
}

/* fakecss:src/components/SpaceHeader.esbuild-svelte-fake-css */
.title.svelte-b5rwq6.svelte-b5rwq6 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.title.svelte-b5rwq6 span.svelte-b5rwq6 {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.subtitle.svelte-b5rwq6.svelte-b5rwq6 {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.3;
}

