/* fakecss:src/components/candidates/CreateCandidatePool.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/candidates/CanidateApplication.esbuild-svelte-fake-css */
.root.svelte-1rp2ab8 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}
.label.svelte-1rp2ab8 {
  display: flex;
  align-items: center;
}
.create.svelte-1rp2ab8 {
  display: flex;
  align-items: center;
  width: 100%;
}

/* fakecss:src/components/candidates/EditCandidate.esbuild-svelte-fake-css */
.header.svelte-1urohn1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}
.close.svelte-1urohn1 {
  margin-left: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.close.svelte-1urohn1:hover {
  opacity: 1;
}

/* fakecss:src/components/candidates/CandidatesWorkspace.esbuild-svelte-fake-css */
.root.svelte-h3bms1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-h3bms1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  width: 100%;
}

/* fakecss:src/components/vacancies/ApplicantCard.esbuild-svelte-fake-css */
.root.svelte-1y38kfr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 500;
  background-color: var(--theme-button-bg-hovered);
  border: 1px solid var(--theme-bg-accent-color);
  border-radius: 12px;
}

/* fakecss:src/components/vacancies/VacancyWorkspace.esbuild-svelte-fake-css */
.root.svelte-cs2dy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-cs2dy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  min-height: 40px;
  width: 100%;
}

