/* fakecss:src/components/candidates/CreateCandidatePool.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/vacancies/CreateVacancy.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/candidates/CreateCandidate.esbuild-svelte-fake-css */
.content.svelte-sc4c5l {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fakecss:src/components/candidates/EditCandidate.esbuild-svelte-fake-css */
.header.svelte-i77rru {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.title.svelte-i77rru {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--theme-caption-color);
  user-select: none;
}
.close.svelte-i77rru {
  margin-left: 12px;
  opacity: 0.4;
  cursor: pointer;
}
.close.svelte-i77rru:hover {
  opacity: 1;
}
.content.svelte-i77rru {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row.svelte-i77rru {
  display: flex;
  align-items: center;
  gap: 10px;
}
.label.svelte-i77rru {
  font-weight: 500;
}
.assignment.svelte-i77rru {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
.assignment-content.svelte-i77rru {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.assign-control.svelte-i77rru {
  font-weight: 400;
  cursor: pointer;
}
.vacancy.svelte-i77rru {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* fakecss:src/components/candidates/CandidatesWorkspace.esbuild-svelte-fake-css */
.root.svelte-h3bms1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-h3bms1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 20px 40px;
  width: 100%;
}

/* fakecss:src/components/vacancies/ApplicantCard.esbuild-svelte-fake-css */
.root.svelte-1y38kfr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 500;
  background-color: var(--theme-button-bg-hovered);
  border: 1px solid var(--theme-bg-accent-color);
  border-radius: 12px;
}

/* fakecss:src/components/vacancies/VacancyWorkspace.esbuild-svelte-fake-css */
.root.svelte-cs2dy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.selector.svelte-cs2dy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
  min-height: 40px;
  width: 100%;
}

