// Public host name, will be used for auth and web hosting.
WEB_HOST=localhost
// Public port, will be used for auth and web hosting.
WEB_PORT=8080
// Port for websocket connections. web_host will be used to connect to.
SERVER_PORT=18080
// Server secret key be used to generate auth tokens. Please update to some secret value.
SERVER_SECRET=workspace_secret

ACCOUNTS_URI=https://$(WEB_HOST):$(WEB_PORT)/auth
CLIENT_URI=wss://$(WEB_HOST):$(SERVER_PORT)
FILES_URI=https://$(WEB_HOST):$(WEB_PORT)

MEETINGS_URI=localhost:18081

// An address of mongodb server to hold data inside.
MONGODB_URI=mongodb://localhost:27017

// S3 access
S3_URI='https://127.0.0.1:9000',
S3_ACCESS_KEY='minioadmin',
S3_SECRET='minioadmin',

// Workspace with following name will be automatically created if not pressent already.
WORKSPACE=workspace
WORKSPACE_ORGANIZATION=workspace organization

// Security certificates
SECURITY_CERT_FILE=cert.pem
SECURITY_KEY_FILE=privkey.pem
SECURITY_CA_FILE=chain.pem


// Supported modules
SUPPORT_CHUNTER=true
SUPPORT_RECRUTTING=true
SUPPORT_TASKS=true
SUPPORT_CALENDAR=true
SUPPORT_MEETING=true
